@import "./variables";
@import "./globals";

// Hides content with .desktop class on mobile screen
.desktop {
  display: none;
}

.card {
  background-color: $color-card-bg;
  display: flex;
  flex-direction: column;
  margin: 0 25%;
  border-radius: $card-border-radius;

  &-image {
    width: 100%;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
}
